* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: absolute;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 100vh;
    background: #002e58 !important;
    color: #eceff2;
}

.user {
    padding: 20px 0 0 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.ant-form-item .ant-form-item-label {
    text-align: start!important;
}

.ant-form-item {
    margin-bottom: 0px !important;
}

.header {
    background: white;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.btn-token Button {
    width: 130px;
    border: 1px solid gray;
}
.ant-menu-item-selected {
    background: #296eaf;
    translate: 3px ;
}
