* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    position: absolute;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 100vh;
    background: #002e58 !important;
    color: #eceff2;
}

.user {
    padding: 20px 0 0 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.ant-form-item .ant-form-item-label {
    text-align: start!important;
}

.ant-form-item {
    margin-bottom: 0px !important;
}

.header {
    background: white;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.ant-menu-item-selected {
    background: linear-gradient(to right,#296eaf,#002e58);
    translate: 3px ;
}

.form-token {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 30px;
}
.btn-submit {
    width: 200px;
}

.row-form {
    gap: 40px;
}

.form-setting-fee-receiver {
    background-color: white;
    padding: 30px 6%;
    text-align: center;
}

.form-setting-fee-receiver .btn {
    margin-top: 20px;
}

input.ant-input {
    text-align: right;
}